/doc/sphinx/build/*/*
/doc/sphinx/source/modules.rst
/doc/sphinx/source/benchy*.rst
/doc/html/.buildinfo
/doc/sphinx/sphinx-*.log
/gdesk/__pycache__/*.pyc
/gdesk/*/__pycache__/*.pyc
/gdesk/*/*/__pycache__/*.pyc
/gdesk/utils/__pycache__/*.nbc
/gdesk/utils/__pycache__/*.nbi
/stderr.log*
/build/*/*
/dist/*
/gamma_desk.egg*/*
/test/venv/**/*
/doc/sphinx/source/gdesk.*.rst
/doc/sphinx/source/gdesk.rst
/__pycache__/**/*.pyc
/doc/sphinx/*.log
/test/stderr.log
/samples/*.log
__pycache__/
gdesk/stderr.log
.idea/
