/doc/sphinx/build/*/*
/doc/sphinx/source/modules.rst
/doc/sphinx/source/benchy*.rst
/doc/html/.buildinfo
/doc/sphinx/sphinx-*.log
/gdesk/__pycache__/*.pyc
/gdesk/*/__pycache__/*.pyc
/gdesk/*/*/__pycache__/*.pyc
/gdesk/utils/__pycache__/*.nbc
/gdesk/utils/__pycache__/*.nbi
/stderr.log*
/build/*/*
/dist/*
/gamma_desk.egg*/*
/test/venv/**/*
