/doc/sphinx/build/*/*
/doc/sphinx/source/modules.rst
/doc/sphinx/source/benchy*.rst
/doc/html/.buildinfo
/doc/sphinx/sphinx-*.log
/gdesk/__pycache__/*.pyc
/gdesk/*/__pycache__/*.pyc
/gdesk/*/*/__pycache__/*.pyc
/stderr.log*
/build/*/*
/test/venv/**/*
